<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.NoticeMapper">
<select id="listAll" resultType="NoticeVO"> 
<!-- 부등호 <,>를 사용하기 위해서 필요한 부분 : CDATA  -->
<![CDATA[
	SELECT ROWNUM, NOTICE_IDX, NOTICE_TITLE, NOTICE_DATE, NOTICE_DAYS, NOTICE_CHK
	FROM(
		SELECT NOTICE_IDX, NOTICE_TITLE, TO_CHAR(NOTICE_DATE,'yyyy-mm-dd') AS NOTICE_DATE, TO_CHAR(NOTICE_DATE+NOTICE_DAYS,'yyyy-mm-dd') AS NOTICE_DAYS, NOTICE_CHK
		FROM   TD_NOTICE
		ORDER BY NOTICE_DATE ASC
	)
	ORDER BY ROWNUM DESC
]]>
</select>

<select id = "listCnt" resultType= "int">
<![CDATA[
	SELECT COUNT(NOTICE_IDX)
	FROM TD_NOTICE
]]>
</select>

<select id = "noticeDetail" resultType = "NoticeVO">
	SELECT NOTICE_IDX, NOTICE_TITLE, NOTICE_CHK, NOTICE_CONTENT, NOTICE_IMG, TO_CHAR(NOTICE_DATE,'yyyy-mm-dd') AS NOTICE_DATE, TO_CHAR(NOTICE_DATE+NOTICE_DAYS,'yyyy-mm-dd') AS NOTICE_DAYS, ADMIN_ID
	FROM   TD_NOTICE
	WHERE  NOTICE_IDX = #{idx}
</select>

<update id = "updateNotice" parameterType="java.util.HashMap">
	UPDATE TD_NOTICE SET NOTICE_CHK = #{nt} WHERE NOTICE_IDX = #{idx}
</update>
<!-- 
<delete id="delete_info">
	DELETE FROM TD_HOTEL_INFO WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_detailinfo">
	DELETE FROM TD_HOTEL_DETAILINFO WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_img">
	DELETE FROM TD_HOTEL_IMAGE WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_bed">
	DELETE FROM TD_ROOM_BED WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_room_image">
	DELETE FROM TD_ROOM_IMAGE WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_room_info">
	DELETE FROM TD_ROOM_INFO WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_room">
	DELETE FROM TD_ROOM WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_hotel">
	DELETE FROM TD_HOTEL WHERE HOTEL_CODE = #{hotel_code}
</delete>

<delete id="delete_review">
	DELETE FROM TD_REVIEW WHERE REVIEW_IDX = #{idx}
</delete>

<select id = "read" resultType= "HotelVO">
	SELECT 	address, 
		    room_lowprice, 
		    rate, 
		    hotel_class, 
		    information, 
		    hotel_discount, 
		    h.hotel_code, 
		    hotel_name, 
		    nation_name, 
		    city_name,
		    hotel_core_info,
		    hotel_precautions,
		    hotel_checktime,
		    hotel_etc	
	FROM td_hotel h, td_nation n, td_city c, td_hotel_detailinfo i
	where h.nation_code = n.nation_code
	and   h.city_code = c.city_code
	and   h.hotel_code = i.hotel_code 
 	and   h.hotel_code = #{hotel_code}
</select>

<select id = "roomData" resultType= "RoomVO">
	SELECT 	room_idx, 
		    room_peoplenum, 
		    room_peoplenum_k,
		    room_bed, 
		    room_price,
		    room_name,
		    hotel_code	
	FROM  td_room
	where hotel_code = #{hotel_code}
</select>

<select id = "hotel_feature" resultType= "FeatureVO">
	SELECT hf_name
	FROM TD_HOTEL_INFO i, TD_HOTEL_FACILITY f
	WHERE i.HF_IDX = f.HF_IDX
	AND   HOTEL_CODE = #{room_idx}
</select>

<select id = "room_feature"  parameterType="java.util.HashMap" resultType= "FeatureVO">
	SELECT f.RF_NAME, r.ROOM_NAME
	FROM TD_ROOM_INFO i, TD_ROOM_FACILITY f, TD_ROOM r
	WHERE i.RF_IDX = f.RF_IDX
	AND   i.ROOM_IDX = r.ROOM_IDX
	AND   i.ROOM_IDX = #{room_idx}
	AND   r.HOTEL_CODE = #{hotel_code}
</select>

<select id = "room_bed" resultType= "BedVO">
	SELECT bed_name, bed_cnt
	FROM   TD_ROOM_BED
	WHERE  ROOM_IDX = #{room_idx}
</select>

<select id = "room_image" resultType= "ImageVO">
	SELECT * 
	FROM TD_ROOM_IMAGE 
	WHERE ROOM_IDX = #{room_idx}
</select>

<select id = "hotel_image" resultType= "ImageVO">
	SELECT HIMG_NAME, HIMG_IDX, HIMG_PATH
	FROM  TD_HOTEL_IMAGE
	WHERE HOTEL_CODE = #{hotel_code}
</select>

<select id = "rimage_detail" resultType= "ImageVO">
	SELECT * 
	FROM TD_ROOM_IMAGE 
	WHERE RIMAGE_IDX = #{idx}
</select>

<select id = "facilityList" resultType= "FeatureVO">
	SELECT * 
	FROM TD_HOTEL_FACILITY
</select>

<select id = "review" resultType= "ReviewVO">
	SELECT ROWNUM, HOTEL_CODE, REVIEW_IDX, REVIEW_TITLE, REVIEW_RATE, MEMBER_ID, TO_CHAR(REVIEW_DATE, 'yyyy-mm-dd') AS REVIEW_DATE 
	FROM TD_REVIEW
	WHERE HOTEL_CODE = #{hotel_code}
	ORDER BY ROWNUM DESC
</select>

<select id = "reviewDetail" resultType= "ReviewVO">
	SELECT *
	FROM TD_REVIEW
	WHERE review_idx = #{review_idx}
</select>

<select id = "reviewCnt" resultType= "int">
<![CDATA[
	SELECT COUNT(HOTEL_CODE)
	FROM TD_REVIEW
	WHERE HOTEL_CODE = #{hotel_code}
]]>
</select>

<select id = "AllreviewCnt" resultType= "int">
<![CDATA[
	SELECT COUNT(HOTEL_CODE)
	FROM TD_REVIEW
]]>
</select>

<select id = "Allreview" resultType= "ReviewVO">
<![CDATA[
	SELECT ROWNUM, h.HOTEL_NAME, REVIEW_IDX, REVIEW_TITLE, REVIEW_RATE, MEMBER_ID, TO_CHAR(REVIEW_DATE, 'yyyy-mm-dd') AS REVIEW_DATE 
	FROM TD_REVIEW r, TD_HOTEL h
	WHERE r.HOTEL_CODE = h.HOTEL_CODE
	ORDER BY ROWNUM DESC
]]>
</select>
 -->
</mapper>
