<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.FdetailMapper">


<select id = "roomdetail" resultType= "FroomVO"><!-- DAOimpl의 namespace 뒤에 붙는 이름이랑 같아야함 -->
	SELECT 	
			tr.room_idx,
			ROOM_NAME,
			RF_NAME,
			RIMAGE_NAME,
			BED_NAME,
			BED_CNT,
			tr.HOTEL_CODE
	FROM td_room tr, td_room_bed trb, TD_ROOM_FACILITY trf, 
	td_room_image tri, td_room_info trinfo
	
	where   tr.room_idx = trb.room_idx
	and tr.room_idx = tri.room_idx
	and tr.room_idx = trinfo.room_idx
	and tr.hotel_code = trb.hotel_code
	and tr.hotel_code = tri.hotel_code
	and tr.hotel_code = trinfo.hotel_code
 	and   tr.room_idx = #{room_idx} <!-- 상세보기 클릭시 나오는 객실번호 -->
</select>

 


</mapper>
