<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.hotelMapper">
<select id="listAll" resultType="HotelVO"> 
<!-- 부등호 <,>를 사용하기 위해서 필요한 부분 : CDATA  -->
	SELECT 	address, 
		    room_lowprice, 
		    rate, 
		    hotel_class, 
		    information, 
		    hotel_discount, 
		    hotel_code, 
		    hotel_name, 
		    nation_name, 
		    city_name		
	FROM td_hotel h, td_nation n, td_city c
	where h.nation_code = n.nation_code
	and   h.city_code = c.city_code 
</select>

<select id = "read" resultType= "HotelVO">
	SELECT 	address, 
		    room_lowprice, 
		    rate, 
		    hotel_class, 
		    information, 
		    hotel_discount, 
		    h.hotel_code, 
		    hotel_name, 
		    nation_name, 
		    city_name,
		    hotel_core_info,
		    hotel_precautions,
		    hotel_checktime,
		    hotel_etc	
	FROM td_hotel h, td_nation n, td_city c, td_hotel_detailinfo i
	where h.nation_code = n.nation_code
	and   h.city_code = c.city_code
	and   h.hotel_code = i.hotel_code 
 	and   h.hotel_code = #{hotel_code}
</select>

<select id = "roomData" resultType= "RoomVO">
	SELECT 	room_idx, 
		    room_peoplenum, 
		    room_peoplenum_k,
		    room_bed, 
		    room_price,
		    room_name	
	FROM  td_room
	where hotel_code = #{hotel_code}
</select>

<select id = "hotel_feature" resultType= "FeatureVO">
	SELECT hf_name
	FROM TD_HOTEL_INFO i, TD_HOTEL_FACILITY f
	WHERE i.HF_IDX = f.HF_IDX
	AND   HOTEL_CODE = #{room_idx}
</select>

<select id = "room_feature" resultType= "FeatureVO">
	SELECT f.RF_NAME, r.ROOM_NAME
	FROM TD_ROOM_INFO i, TD_ROOM_FACILITY f, TD_ROOM r
	WHERE i.RF_IDX = f.RF_IDX
	AND   i.ROOM_IDX = r.ROOM_IDX
	AND   i.ROOM_IDX = #{room_idx}
</select>

<select id = "room_bed" resultType= "BedVO">
	SELECT bed_name, bed_cnt
	FROM   TD_ROOM_BED
	WHERE  ROOM_IDX = #{room_idx}
</select>

<select id = "room_image" resultType= "ImageVO">
	SELECT * 
	FROM TD_ROOM_IMAGE 
	WHERE ROOM_IDX = #{room_idx}
</select>

<select id = "hotel_image" resultType= "ImageVO">
	SELECT HIMG_NAME, HIMG_IDX, HIMG_PATH
	FROM  TD_HOTEL_IMAGE
	WHERE HOTEL_CODE = #{hotel_code}
</select>

<select id = "rimage_detail" resultType= "ImageVO">
	SELECT * 
	FROM TD_ROOM_IMAGE 
	WHERE RIMAGE_IDX = #{idx}
</select>
</mapper>
