<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.FdetailMapper">
<!-- <select id="listAll" resultType="FhotelVO"> 
부등호 <,>를 사용하기 위해서 필요한 부분 : CDATA 
	SELECT 	address, 
		    room_lowprice, 
		    rate, 
		    hotel_class, 
		    information, 
		    hotel_discount, 
		    hotel_code, 
		    hotel_name, 
		    nation_name, 
		    city_name		
	FROM td_hotel h, td_nation n, td_city c
	where h.nation_code = n.nation_code
	and   h.city_code = c.city_code 
</select>-->

<select id = "detail" resultType= "FdetailVO"><!-- DAOimpl의 namespace 뒤에 붙는 이름이랑 같아야함 -->
	SELECT 	address, 
			room_lowprice,
			rate,
			hotel_class,
			information,
			hotel_discount,
			h.hotel_code,
			hotel_name,
			nation_code,
			city_code,
			idx,
			hotel_core_info,
			hotel_precautions,
		    hotel_checktime,
		    hotel_etc
	FROM td_hotel h, td_hotel_detailinfo d
	where   h.hotel_code = d.hotel_code
 	and   h.hotel_code = #{hotel_code} <!-- 상세보기 클릭시 나오는 호텔코드 -->
</select>

 <select id = "detailroom" resultType= "FdetailVO"><!-- DAOimpl의 namespace 뒤에 붙는 이름이랑 같아야함-->
	SELECT * FROM TD_ROOM
	WHERE HOTEL_CODE='KORDAGDH'
 	and  hotel_code = #{hotel_code}<!-- 상세보기 클릭시 나오는 호텔코드 -->
</select> 
</mapper>
