<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- maven build 시 mapper xml찾지못하는 오류 방지하기위해 임시로 작성한 mapper xml -->
<mapper namespace="kr.ync.project.mapper.FhotelMapper">
<select id="listAll" resultType="FhotelVO"> 
<!-- 부등호 <,>를 사용하기 위해서 필요한 부분 : CDATA  -->
	SELECT 	address, 
		    room_lowprice, 
		    rate, 
		    hotel_class, 
		    information, 
		    hotel_discount, 
		    hotel_code, 
		    hotel_name, 
		    nation_name, 
		    city_name		
	FROM td_hotel h, td_nation n, td_city c
	where h.nation_code = n.nation_code
	and   h.city_code = c.city_code 
</select>

<select id = "read" resultType= "FhotelVO">
	SELECT 	address, 
		    room_lowprice, 
		    rate, 
		    hotel_class, 
		    information, 
		    hotel_discount, 
		    hotel_code, 
		    hotel_name, 
		    nation_name, 
		    city_name		
	FROM td_hotel h, td_nation n, td_city c
	where h.nation_code = n.nation_code
	and   h.city_code = c.city_code  
 	and   hotel_code = #{hotel_code}
</select>
</mapper>
