<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.LoginMapper">

	<select id="login" resultType="LoginVO">
		SELECT MEMBER_ID, MEMBER_PASSWORD, MEMBER_FIANAME
		FROM TD_MEMBER
		WHERE MEMBER_ID = #{MEMBER_ID}
		AND MEMBER_PASSWORD = #{MEMBER_PASSWORD}
	</select>


	<select id="register" resultType="LoginVO">
		INSERT INTO TD_MEMBER
		(MEMBER_ID, MEMBER_PASSWORD, MEMBER_PNUMBER, MEMBER_ADDRESS,
		MEMBER_OUT, NATION_CODE, MEMBER_FIANAME, MEMBER_LANAME,
		MEMBER_IDX)
		VALUES (
			<!-- 
				MEMBER_OUT은 초기값 1로 지정
				MEMBER_IDX는 현재 DB의 최대값보다 1 높은 값을 부여함으로써 중복 방지
			-->
			#{MEMBER_ID}, #{MEMBER_PASSWORD}, #{MEMBER_PNUMBER},
			#{MEMBER_ADDRESS}, 1, #{NATION_CODE}, 
			#{MEMBER_FIANAME}, #{MEMBER_LANAME}, 
			(SELECT MAX(MEMBER_IDX)+1 AS NEW_IDX FROM TD_MEMBER))
	</select>
	
	<select id="admin_login" parameterType="AdminVO" resultType="AdminVO">
		SELECT ADMIN_ID, ADMIN_NAME, ADMIN_PASSWORD
		FROM TD_ADMIN
		WHERE ADMIN_ID = #{admin_id}
		AND   ADMIN_PASSWORD = #{admin_password}
	</select>
	
	<select id="checkUserWithSessionKey" resultType="AdminVO">
		<!--  value는 loginCookie에 저장된 session 값 -->
		SELECT 	*
		FROM	TD_ADMIN
		WHERE	sessionKey = #{value}
		AND		sessionlimit > SYSDATE
	</select>
	
	<update id="keepLogin" >
		UPDATE TD_ADMIN SET 	sessionKey = #{sessionId},
	  							sessionLimit = #{next}
		WHERE admin_id = #{admin_id}
	</update>
</mapper>


